#path1 {
  fill: rgb(0, 190, 0);
  transition: 0.5s;
}
#path4 {
  fill: rgba(35, 110, 250, 0.57);
  transition: 0.5s;
}
#path3 {
  fill: rgb(255, 0, 0);
  transition: 0.5s;
}
#path4:hover {
  animation: map 20s infinite;
  transition: 0.5s;
}
@keyframes map {
  0% {
    fill: blue;
  }
  25% {
    fill: green;
  }
  50% {
    fill: yellow;
  }
  75% {
    fill: red;
  }
  100% {
    fill: blue;
  }
}
