header .top-bar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: black;
  background-position: 50% 50%;
  background-size: cover;
}
header .top-bar .logo {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: flex-start;
  align-items: center;
}
header .top-bar .logo img {
  height: 300px;
  margin: 1rem;
}
header .top-bar .logo .tittle-cnt h1 {
  font-size: 60px;
  color: #dbbc4d;
}
header .top-bar .logo p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #dbbc4d;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-left: 1rem;
}
header .top-bar .social-icons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}

head .top-bar .social-icons .social-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

header .top-bar .social-icons a {
  transition: 1s;
  padding: 0.2rem;
  margin: 1rem;
}
header .top-bar .social-icons a img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
header .top-bar .social-icons a:nth-child(1):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 41px 11px rgba(0, 250, 0, 0.82);
  -moz-box-shadow: 0px 0px 41px 11px rgba(0, 250, 0, 0.82);
  box-shadow: 0px 0px 41px 11px rgba(0, 250, 0, 0.82);
}
header .top-bar .social-icons a:nth-child(2):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 41px 11px rgba(229, 0, 250, 0.82);
  -moz-box-shadow: 0px 0px 41px 11px rgba(229, 0, 250, 0.82);
  box-shadow: 0px 0px 41px 11px rgba(229, 0, 250, 0.82);
}
header .top-bar .social-icons a:nth-child(3):hover img {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.82);
  -moz-box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.82);
  box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.932);
}

header .nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  background-color: #8f8f8f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .nav-bar .nav-btn {
  background-color: #dbbc4d;
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  width: 12rem;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: medium;
}
header .nav-bar .nav-btn:hover {
  background-color: #fff;
  color: black;
}
header .nav-bar .nav-btn:before,
header .nav-bar .nav-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #dbbc4d;
  transition: 400ms ease all;
}
header .nav-bar .nav-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
header .nav-bar .nav-btn:hover:before,
header .nav-bar .nav-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
