.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: -webkit-fill-available;
  justify-content: center;
  height: 550px;
}
.imgSection{
  padding: 0 6rem 0 6rem;
}
.imgSection img{
  margin: 0 auto;
  height: 700px;
  width: 1200px;
}
.descriptionSect {
  right: 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
  padding: 2rem 4rem 2rem 3rem;
  width: 25rem;
  background-color: rgba(0, 0, 255, 0.623);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.57);
  box-shadow: 8px -3px 5px 3px rgba(0, 0, 0, 0.57);
  color: white;
  transition: all 1s ease-in-out;
}
.descriptionSect:hover {
  -webkit-box-shadow: 0px 0px 16px 3px rgba(255, 255, 255, 0.57);
  -moz-box-shadow: 0px 0px 16px 3px rgba(255, 255, 255, 0.57);
  box-shadow: 0px 0px 16px 3px rgba(255, 255, 255, 0.57);
  transition: all 1s ease-in-out;
}
.descriptionSect div {
  gap: 4px;
  display: flex;
  flex-direction: row;
}
