html, body, #root{
  height: -webkit-fill-available;
}

.App {
  text-align: center;
  height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}